@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background: #1a1911;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
nav a:hover,
nav a.active {
    color: #0ef;
}
section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fdeca9;
    background-image: url(https://img.freepik.com/premium-photo/soft-abstract-pastel-color-gradient-wallpaper-background_533018-40.jpg?size=626&ext=jpg&ga=GA1.1.1412446893.1704758400&semt=ais);
    font-size: 100px;
    color: #fff;
    font-weight: 700;
}
section:nth-child(odd) {
   ;
}
#itemsList{
    display: flex ;
    flex-direction: column;
}
.text{
    font-size: large;
    size-adjust: 10px;
   display: flex;

}

}
.home{
    display: flex;
       
}
